In [1]:
import pandas as pd

In [31]:
df = pd.read_csv(filepath_or_buffer='day4_input.txt', 
                 header=None,
                 sep="] ",
                 engine='python')
df.columns = ['date', 'action']

In [32]:
df.head()

                date                    action
0  [1518-07-14 00:48                  wakes up
1  [1518-09-16 00:04  Guard #3323 begins shift
2  [1518-10-07 00:34              falls asleep
3  [1518-08-26 00:47                  wakes up
4  [1518-02-16 00:52              falls asleep